label {
    width: 179px;
    height: 48.43px;
    top: 284px;
    left: 606px;
    gap: 0px;
    opacity: 0px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24.2px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    background: #FF5555;
}